
:root {
    --primary: #56ab91;
    /* --secondary: #353535; */
    --third: #fffffc;
    
    --forth: #333533;
}


.navbar {
    background-color: var(--third);
    border-bottom: solid 1.5px var(--forth);
    padding: 25px 20px;
    
}
.nav-home-container {
    width: 100%;
    max-width: 1000px ;
}

.navbar-nav {
    display: flex;
    column-gap: 20px;
    justify-content: space-evenly;
    width: 100%;
}

.container-md section{
    margin-bottom: 150px;
}
.about-header {
    margin-top: 40px;
}
.project-card{
    padding: 5px;
    background-color: var(--third);
    border: solid 2px var(--forth);
}
.project-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 17px;
}
.links-btn {
    background-color: var(--primary);
    color: var(--forth);
    border: solid 2px var(--forth);
    text-transform: uppercase;
    font-weight: 600;
}
.main {
    max-width: 1000px ;
    padding: 0 40px;
}
.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
}
.contact-links {
    display: flex;
    column-gap: 10px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 15px;
}
.footer-card {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--forth);
    color: var(--third);
    font-weight: 600;
    width: 100%;
    max-width: 1100px ;
}
@media (max-width: 680px) {
    .projects-container{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 576px) {
    img {
        width: 70%;
    }
}
@media (max-width: 500px) {
    .contact-links {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}

